body{
    direction: rtl;
}

#cartSidebar{
    width: 320px;
    transform: translateX(-105%);
    transition: transform .25s;
    z-index: 1000;
}

.product-card {
    border-radius: 20px;
    overflow: hidden;
}

.product-img{
    object-fit: cover;
}